<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>CO2 checker</title>
</head>
<body>
<h1>CO2 checker</h1><br>
<br>
<table>
<tr><th>元画像</th><th>加工画像</th></tr>
<tr><td colspan="2"><img src="{{ url_for('video') }}"></td></tr>
</table>
<br>
<b>CO2濃度</b><br>
<div class="graph"><canvas id="graph1"></canvas></div>
<br>
<b>室温</b><br>
<div class="graph"><canvas id="graph2"></canvas></div>
<br>
<b>湿度</b><br>
<div class="graph"><canvas id="graph3"></canvas></div>
<br>
<br>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
-->
<script type="text/javascript" src="{{ url_for('static', filename='mygraph.js') }}"></script>
</body>
</html>