<html>
<head>
<link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" />
<link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
<script src={{ url_for("static", filename="jquery-3.6.0.min.js") }}></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<title>CO2 checker</title>
</head>
<body>
<h1>職場環境見える化くん</h1><br>
<table>
<tr><th>カメラ画像（1分ごとに更新）</th></tr>
<tr><td class="celll">元画像<img src="../static/image1.jpg" id="image1" class="image1" /><br><br>画像処理後<img src="../static/image2.jpg" id="image2" class="image2" /></td></tr>
</table>
<br>
<b>富士松工場付近の天候データ</b>（provided by <a href="https://openweathermap.org/" target="_blank">OpenWeather</a>）<br>
<table class="none">
<tr>
<!--
<td class="none"><span onclick="changeDate(-1)">＜</span></td>
<td class="none"><span id="date" class="date"></span></td>
<td class="none"><span onclick="changeDate(1)">＞</span></td></tr>
-->
</table>
<table>
<tr><td></td>{% for i in range(24) %}<th>{{i}}時</th>{% endfor %}</tr>
<tr><td>天気</td>{% for i in range(24) %}<td class="cellc"><span id="i{{i}}"></span></td>{% endfor %}</tr>
<tr><td>降水量</td>{% for i in range(24) %}<td class="cellr"><span id="r{{i}}"></span></td>{% endfor %}</tr>
<tr><td>温度</td>{% for i in range(24) %}<td class="cellr"><span id="t{{i}}"></span></td>{% endfor %}</tr>
<tr><td>湿度</td>{% for i in range(24) %}<td class="cellr"><span id="h{{i}}"></span></td>{% endfor %}</tr>
<tr><td>風量</td>{% for i in range(24) %}<td class="cellr"><span id="w{{i}}"></span></td>{% endfor %}</tr>
</table>
<br>
<br>
<script src={{ url_for("static", filename="ajax.js") }}></script>
</body>
</html>